<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:include="admin/layout :: page">
<body>
	<div th:fragment="content">
		<h1 class="page-header">Blog</h1>

		<div th:if="${success eq true}" class="alert alert-success">Blog
			Post was added/edited successfully.</div>

		<a th:href="@{/admin/blog/add}" class="btn btn-primary btn-lg">
			New Blog Post </a>

		<h2 class="sub-header">List of Blog Posts</h2>

		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Published</th>
						<th>Operations</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="post : ${page.content}">
						<td><a th:href="@{'/blog/show/'+${post.id}}"
							th:text="${post.title}"> </a></td>
						<td
							th:text="${#temporals.format(post.publishedDate, 'dd/MMM/yyyy HH:mm')}"></td>
						<td><a th:href="@{'/admin/blog/update/'+${post.id}}"
							class="btn btn-warning"> Edit Post </a> <a
							th:href="@{'/admin/blog/remove/'+${post.id}}"
							class="btn btn-danger triggerRemove"> Remove Post </a></td>
					</tr>
				</tbody>
			</table>
			<div th:include="other/pagination :: pagination" th:remove="tag"></div>
			
			<h2 class="sub-header">Options</h2>
			<a th:href="@{/admin/blog/comments/enable}" class="btn btn-success"> Enable comments everywhere </a>
			<a th:href="@{/admin/blog/comments/disable}" class="btn btn-danger"> Disable comments everywhere </a>
		</div>
	</div>
</body>
</html>