<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:include="admin/layout :: page">
<body>
	<div th:fragment="content">
		<h1 th:text="${edit} ? 'Edit Quote' : 'New Quote'" class="page-header"></h1>
		
		<div th:if="${success eq false}" th:text="'Quote was NOT' + ${edit} ? 'edited':'added' + '. Something went wrong.'" class="alert alert-danger"></div>
			
		<form th:object="${quote}" th:action="${edit} ? @{'/admin/quote/update/' + ${quote.id}} : @{/admin/quote/add}"
			method="post" class="quoteForm">
			<div class="form-group">
				<label for="name">Author</label> <input type="text"
					class="form-control" th:field="*{author}" />
				<p th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Incorrect
					author</p>
			</div>
			<div class="form-group">
				<label for="text">Text</label>
				<textarea th:field="*{text}" class="form-control"></textarea>
				<p th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Incorrect
					text</p>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Save" />
			</div>
		</form>

		<script type="text/javascript">
			$(document).ready(
					function() {
						$('.quoteForm').validate(
								{
									rules : {
										author : {
											required : true,
											minlength : 1,
											maxlength : 100
										},
										text : {
											required : true,
											minlength : 3,
											maxlength : 1000
										}
									},
									highlight : function(element) {
										$(element).closest('.form-group')
												.removeClass('has-success')
												.addClass('has-error');
									},
									unhighlight : function(element) {
										$(element).closest('.form-group')
												.removeClass('has-error')
												.addClass('has-success');
									}
								});
					});
		</script>
	</div>
</body>
</html>