<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:include="admin/layout :: page">
<body>
	<div th:fragment="content">
		<script type="text/javascript">
	    $(document).ready(
		    function() {
			$('.triggerRemove').click(
				function(e) {
				    e.preventDefault();
				    $('#modalRemove .removeBtn').attr("href",
					    $(this).attr("href"));
				    $('#modalRemove').modal();
				});
		    });
	</script>
		<h1 class="page-header">Users</h1>

		<div th:if="${success eq true}" class="alert alert-success">User
			was edited successfully.</div>

		<h2 class="sub-header">List of Users</h2>

		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Operations</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<td th:text="${user.name}"></td>
						<td th:text="${user.email}"></td>
						<td><a th:href="@{'/admin/user/update/'+${user.id}}"
							class="btn btn-warning"> Edit User </a> <a
							th:href="@{'/admin/user/' + (${user.enabled} ? 'disable':'enable') + '/'+${user.id}}"
							class="btn btn-danger"
							th:text="(${user.enabled} ? 'Disable':'Enable') + ' User'"></a> <a
							th:href="@{'/admin/user/remove/'+${user.id}}"
							class="btn btn-danger triggerRemove"> Remove User </a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="modal fade" id="modalRemove" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Remove User</h4>
					</div>
					<div class="modal-body">Really remove?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<a href="" class="btn btn-danger removeBtn">Remove</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>