<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:include="blog/layout :: page">
<body>
	<div th:fragment="content">
		<div class="col-md-8">
			<h1 class="page-header">
				Fugiczek ma hlad <small>Srandicky</small>
			</h1>

			<div th:each="post : ${page.content}" th:remove="tag">
				<h2>
					<a th:href="@{/blog/show/} + ${post.id}" th:text="${post.title}">
					</a>
				</h2>
				<p class="lead" th:text="'by ' + ${post.user.name}"></p>
				<p>
					<span class="glyphicon glyphicon-time"></span>
				<p
					th:text="${#temporals.format(post.publishedDate, 'dd/MMM/yyyy HH:mm')}"
					th:remove="tag"></p>
					</p>
				<hr />
				<img class="img-responsive" src="http://placehold.it/900x300" alt="" />
				<hr />
				<p th:text="${#strings.substring(post.text,0,(#strings.length(post.text) le 201 ? #strings.length(post.text)-1 : 200))} + ' ...'"></p>
				<a class="btn btn-primary" th:href="@{/blog/show/} + ${post.id}">Read
					More <span class="glyphicon glyphicon-chevron-right"></span>
				</a>

				<hr />
			</div>


			<!-- Pager -->
			<div th:include="other/pagination :: pagination_blog" th:remove="tag"></div>
		</div>
	</div>
</body>
</html>