<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:include="blog/layout :: page">
<body>
	<div th:fragment="content">
		<div class="blog-post" th:each="post : ${page.content}">
			<h2 class="blog-post-title">
				<a th:href="@{/blog/show/} + ${post.id}" th:text="${post.title}">
				</a>
			</h2>
			<p class="blog-post-meta" 
			th:text="${#temporals.format(post.publishedDate, 'dd/MMM/yyyy HH:mm')} + ' by ' + ${post.user.name}">
			</p>
			<p th:text="${post.text}"></p>
		</div>

		<div th:include="other/pagination :: pagination_blog" th:remove="tag"></div>
	</div>
</body>
</html>