<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:include="home/layout :: page">
<body>
	<div th:fragment="content">
		<h1>Something interesting</h1>
		<p>Lorem ipsum dolor sit amet, ei case verterem has, mei tollit tractatos moderatius ea. Solet erroribus eos ne. Ex vis noster denique consetetur, nonumes explicari maiestatis ne est. Cu erat habemus nam, duis fabulas insolens vix ex. Est an malorum propriae maluisset. Ius sale assum debitis eu, at mea munere eleifend platonem, eius antiopam mei eu.</p>
		<p>Facete mediocrem pri at, velit periculis delicatissimi ut vim, qui habeo eleifend te. Id usu dicunt interesset, an alia minimum temporibus eam. Dico simul erroribus his eu. In ocurreret comprehensam sit, cu duo quod aperiam volutpat.</p>
	</div>
</body>
</html>